<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/print.css">

    <!-- Angular JS and plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js"></script>
    <script src="javascripts/lib/angular-ui-router.min.js"></script>

    <!-- Bootstrap and jQuery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- UI Bootstrap -->
    <script src="javascripts/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <!-- Angular Timeline -->
    <script src="javascripts/lib/angular-timeline.js"></script>
    <link rel="stylesheet" href="stylesheets/lib/angular-timeline.css">
    <link rel="stylesheet" href="stylesheets/lib/angular-timeline-bootstrap.css">
    <link rel="stylesheet" href="stylesheets/lib/angular-timeline-animations.css">

    <!-- Markdown plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script>

    <!-- VisJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.js"></script>
    <script src="javascripts/lib/angular-vis.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.css">

    <!-- NgDraggable -->
    <script src="javascripts/lib/ngDraggable.js"></script>

    <!-- Moment -->
    <script src="javascripts/lib/moment.min.js"></script>

    <!-- Analytics -->
    <script src="javascripts/lib/angular-google-analytics.min.js"></script>

    <!-- Local storage -->
    <script src="javascripts/lib/angular-local-storage.min.js"></script>

    <!-- ChartJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
</head>
<body ng-app="arcsplannerApp">

<div id="printarea">

</div>

<!-- Site view -->
<div id="screenarea">

    <!-- MODAL: Timeline print modal -->
    <div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="printModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <button type="button" class="btn btn-primary" style="float: right; margin-right: 20px;" onclick=" $('#printarea').html($('#printdocument').html()); window.print(); $('#printarea').html('');">Printen</button>
                    <h4 class="modal-title">Print preview</h4>
                </div>
                <div class="modal-body">
                    <div id="printdocument">
                        <div ng-controller="PlannerCtrl" ng-init="init()">
                            <h2>Lesplan voor {{lessonName}}</h2>
                        </div>
                        &nbsp;<br/>
                        <div ng-controller="TimelineCtrl" ng-init="init()">
                            <div ng-repeat="event in timeline">
                                <div ng-if="timeline[$index - 1] != undefined && timeline[$index - 1].endTimeMinutes != timeline[$index].startTimeMinutes">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><h4>Pauze</h4></div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading"><h4>{{event.block.title}}<span class="label label-primary" style="float:right;">{{getLabel(event)}}</span></h4></div>
                                    <div class="panel-body">
                                        <h5>Voorbereiding</h5>
                                        <p ng-bind-html="event.block.preparation"></p>
                                        <h5>Omschrijving</h5>
                                        <p ng-bind-html="event.block.description"></p>
                                        <h5>Inhoud</h5>
                                        <p ng-if="event.content" ng-bind-html="convertToHtml(event.content)"></p>
                                        <p ng-if="!event.content">Niet gegeven.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                    <button type="button" class="btn btn-primary" onclick=" $('#printarea').html($('#printdocument').html()); window.print(); $('#printarea').html('');">Printen</button>
                </div>
            </div>
        </div>
    </div>


    <!-- MODAL: ARCS Help modal -->
    <div class="modal fade" id="whyhelpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">ARCSPlanner.nl: Nut en noodzaak ARCSPlanner.nl?</h4>
                </div>
                <div class="modal-body">
                    <iframe id="whyhelpVideo" width="560" height="315" src="//www.youtube.com/embed/-SFFGqD1igE?autoplay=1&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    <h2>Nut en noodzaak van ARCSPlanner.nl</h2>
                    <p>In bovenstaande video wordt toegelicht waarom ARCSPlanner.nl uiteindelijk is ontstaan en hoe en waarom deze tool je kan helpen om de motivatie van studenten te vergroten.</p>
                    <p>En ja, ik ben docent, coach en superheld! Meer over mij weten? Kijk op <a href="http://www.ruudgreven.nl" target="_blank">mijn website</a> of op <a href="https://www.linkedin.com/in/ruud-greven-5507997/" target="_blank">LinkedIn</a></p>
                    <p><strong>Let op: </strong> ARCSPlanner.nl is slechts een prototype van een systeem om een les te plannen. Ik ben me er van bewust dat sommige functionaliteit nog mist of handiger kan.</p>
                    <p>Veel plezier met de tool!</p>
                    <p>Ruud Greven</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#arcshelpModal">Verder lezen/kijken: Wat is ARCS?</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL: ARCS Help modal -->
    <div class="modal fade" id="arcshelpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">ARCSPlanner.nl: Wat is ARCS?</h4>
                </div>
                <div class="modal-body">
                    <iframe id="arcshelpVideo" width="560" height="315" src="//www.youtube.com/embed/CA0YO9Za6GY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    <h2>ARCS Model</h2>
                    In bovenstaande video wordt het ARCS Model (Keller, 2010) toegelicht. In het kort komt het erop neer dat het model bestaat uit twaalf componenten:

                    <h3>Attention</h3>
                    <ul>
                        <li><strong>Perceptual Arousal:</strong> Nieuwsgierigheid wekken met verhalen, anekdotes met een persoonlijke touch. Persoonlijk aanspreken (ook in sheets).</li>
                        <li><strong>Inquiry Arousal:</strong> Nieuwsgierigheid wekken door het stellen van vragen, paradoxen creëren en raadsels, puzzels.</li>
                        <li><strong>Variability:</strong> Variëren in presentatie stijlen. Analogieën geven, onverwachte gebeurtenissen/activiteiten.</li>
                    </ul>
                    <h3>Relevance</h3>
                    <ul>
                        <li><strong>Goal Orientation:</strong> Concrete voorbeelden bedenken en geven. Relateer deze aan voorkennis, beroepenveld en achtergrond.</li>
                        <li><strong>Motive Matching:</strong> Maak instructie geschikt voor het formuleren van eigen leerdoelen, samenwerken, leiderschap en verantwoordelijkheid. Voorzie in een positief rolmodel. </li>
                        <li><strong>Familiarity:</strong> Maak materialen en concepten concreet. Relateer voortdurend aan toekomstig werk of de voorkennis.</li>
                    </ul>
                    <h3>Confidence</h3>
                    <ul>
                        <li><strong>Learning Requirements:</strong> Wees concreet in je verwachtingen. Benoem de succescriteria en de criteria die je gaat toetsen duidelijk (en vaak).</li>
                        <li><strong>Succes Opportunities:</strong> Vergroot het vertrouwen door veel, gevarieerde en uitdagende opdrachten (ook weer niet te uitdagend).</li>
                        <li><strong>Personal Control:</strong> Gebruik technieken om studenten te leren persoonlijke controle te houden (plannen, gtd, etc). Geef feedback waarin je succes koppelt aan de persoonlijke effort (of het gebrek daaraan).</li>
                    </ul>
                    <h3>Satisfaction</h3>
                    <ul>
                        <li><strong>Intrinsic Reinforcement:</strong> Geef studenten positieve feedback. Zorg dat de feedback gerelateerd is aan persoonlijke effort, en niet zozeer aan het uiteindelijke resultaat vergeleken met anderen.</li>
                        <li><strong>Extrensic Rewards:</strong> Beloon de studenten. Dat kan verbaal, maar ook door echte beloningen. Laat studenten elkaar de resultaten tonen van hun werk (show and tell).</li>
                        <li><strong>Equity:</strong> Zorg dat studenten het idee hebben dat je eerlijk bent in het belonen, straffen en het geven van cijfers.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#toolhelpModal">Verder lezen/kijken: Hoe gebruik ik de tool?</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL: Tool Help modal -->
    <div class="modal fade" id="toolhelpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">ARCSPlanner.nl: Hoe gebruik ik de tool?</h4>
                </div>
                <div class="modal-body">
                    <iframe id="toolhelpVideo" width="560" height="315" src="//www.youtube.com/embed/VbaPDQoq7iA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    <h2>Het gebruik van de tool</h2>
                    <p>De tool biedt een verzameling van 28 werkvormen waarmee je je les kunt samenstellen. Iedere werkvorm heeft een bepaalde waardering op het ARCS model gekregen. Zodoende kan de tool
                    uitrekenen hoe jouw les scoort op de verschillende onderdelen van het model. Je kunt dus makkelijk zien hoeveel aandacht je besteed aan attention, relevance, confidence en satisfaction.
                    Ook kun je zien hoeveel van de les je klassikaal werkt, of in groepjes, of duo's of dat je studenten individueel laat werken.</p>
                    <h3>Gebruikshandleiding</h3>
                    <ul>
                        <li>Bedenk vooraf welke doelen je wilt bereiken in je les.</li>
                        <li>Kijk even in welk lokaal je de les geeft, zodat je weet welke middelen je eventueel tot je beschikking hebt.</li>
                        <li>Zoek naar lesvormen bij je les in het vak met alle blokken. Je kunt lesvormen filters op woorden in de titel, fase in de les (begin, midden, eind), groeperingsvorm (alleen, duo's, groepjes of klassikaal) en op de ARCS eigenschappen</li>
                        <ul>
                            <li>De metertjes geven de score op de vier componenten van ARCS aan. Hoe hoger de meter hoe positiver. Een werkvorm kan ook een negatieve invloed hebben op motivatie, dan staan de blokjes onder de middellijn.</li>
                            <li>Klik op de inhoud van een lesblok voor meer informatie</li>
                            <li>Dubbelklik op de titel om een lesblok aan de tijdlijn toe te voegen. Je kunt hem ook slepen naar de tijdlijn.</li>
                        </ul>
                        <li>Pas eventueel in de tijdlijn de tijdsduur aan.</li>
                        <li>Voeg eventueel in de outline van je les rechts eigen commentaar toe aan een blok, om zo voor jezelf bijvoorbeeld de inhoud er bij te vermelden.</li>
                        <li>Print vervolgens je lesplan (of exporteer naar PDF via het printscherm) en neem 'm mee naar de les!</li>
                    </ul>
                    <h3>Bekende bugs</h3>
                    Er zitten enkele bekende bugs in de tool:
                    <ul>
                        <li>In Firefox werkt de tool niet lekker. De tool is getest in Chrome en Safari.</li>
                        <li>Het verslepen op de tijdbalk gaat soms wat lastig. Soms wordt de muisklik niet goed geregisteerd.</li>
                        <li>Enkele layout issues, zoals het niet mooi uitlijnen van de teksten in de legenda naast de grafiekjes.</li>
                        <li>Heel af en toe vallen er onderdelen buiten beeld of achter het grijze vlak bovenin het scherm. Je browser schermresizen of een keer refreshen helpt daan vaak.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL: Tool Help modal -->
    <div class="modal fade" id="lessonPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" ng-controller="LessonPropertiesCtrl" ng-init="init()">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">ARCSPlanner.nl: Instellingen voor je les</h4>
                </div>
                <div class="modal-body">
                    <p>Vul hieronder het aantal minuten in dat je les duurt:</p>
                    <div class="form-group">
                        <label for="inputTime">Tijdsduur van je les (in minuten)</label>
                        <input type="number" class="form-control" id="inputTime" placeholder="Kies het aantal minuten" ng-model="lessonTime">
                    </div>
                    <p><Strong>Let op</Strong>: Bij het opslaan zal je bestaande plan verwijdert worden!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="save();" data-dismiss="modal">Opslaan</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ARCSPlanner.nl, Final prototype 3</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#whyhelpModal"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Help!"></span> Nut en noodzaak ARCSPlanner.nl?</a></li>
                <li><a href="#" data-toggle="modal" data-target="#arcshelpModal"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Help!"></span> Wat is ARCS?</a></li>
                <li><a href="#" data-toggle="modal" data-target="#toolhelpModal"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="Help!"></span> Hoe gebruik ik de tool?</a></li>

                <li><a href="#" data-toggle="modal" data-target="#printModal"><span class="glyphicon glyphicon-print" aria-hidden="true" title="Print je lesplan"></span> Print je plan</a></li>
            </ul>
        </div>

        <div class="container-fluid">
            <div class="row">
                <!-- Planner -->
                <div class="col-sm-8">
                    <div ui-view="planner" class="cmp-planner"></div>
                </div>
                <div class="col-sm-4">
                    <div ui-view="stats" class="cmp-stats"></div>
                </div>
            </div>
        </div>
    </nav>

    <div style="padding-top:25px;">
        <div class="container-fluid">
            <div class="row">
                <!-- Blocks -->
                <div class="col-md-8">
                    <div ui-view="selector" class="cmp-selector"></div>
                </div>

                <!-- Timeline -->
                <div class="col-md-4">
                    <div ui-view="timeline" class="cmp-timeline"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- App controllers -->
<script src="javascripts/config.js"></script>
<script src="javascripts/app.js"></script>

<script src="javascripts/services/ConverterSvc.js"></script>
<script src="javascripts/services/PlanSvc.js"></script>

<script src="javascripts/controllers/BlocksCtrl.js"></script>
<script src="javascripts/controllers/PlannerCtrl.js"></script>
<script src="javascripts/controllers/TimelineCtrl.js"></script>
<script src="javascripts/controllers/StatsCtrl.js"></script>
<script src="javascripts/controllers/LessonPropertiesCtrl.js"></script>

<script>
    var onResize = function() {
        // apply dynamic padding at the top of the body according to the fixed navbar height
        $("#screenarea").css("padding-top", $(".navbar-fixed-top").height());
    };

    // attach the function to the window resize event
    $(window).resize(onResize);

    // call it also when the page is ready after load or reload
    $(function() {
        onResize();
    });

    $(document).ready(function() {
        if (document.cookie.indexOf("visited") == -1) {
            document.cookie = "visited=true";
            $("#whyhelpModal").modal("show");
        }

        //Activate whyhelp video automatically
        var whyhelpVideoUrl = $("#whyhelpVideo").attr('src');
        $("#whyhelpVideo").attr('src', '');
        $("#whyhelpModal").on('shown.bs.modal', function(){
            $("#whyhelpVideo").attr('src', whyhelpVideoUrl);
        });

        //Activate whyhelp video automatically
        var arcshelpVideoUrl = $("#arcshelpVideo").attr('src');
        $("#arcshelpVideo").attr('src', '');
        $("#arcshelpModal").on('shown.bs.modal', function(){
            $("#arcshelpVideo").attr('src', arcshelpVideoUrl);
        });

        //Activate whyhelp video automatically
        var toolhelpVideoUrl = $("#toolhelpVideo").attr('src');
        $("#toolhelpVideo").attr('src', '');
        $("#toolhelpModal").on('shown.bs.modal', function(){
            $("#toolhelpVideo").attr('src', toolhelpVideoUrl);
        });

        $(document).on('hidden.bs.modal', function (event) {
            $("#whyhelpVideo").attr('src', '');
            $("#arcshelpVideo").attr('src', '');
            $("#toolhelpVideo").attr('src', '');
            
            if ($('.modal:visible').length) {
                $('body').addClass('modal-open');
            }

            $(window).resize(onResize);
        });

        $(window).resize(onResize);
    });
</script>
</body>
</html>