<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/print.css">

    <!-- Angular JS and plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js"></script>
    <script src="javascripts/lib/angular-ui-router.min.js"></script>

    <!-- Bootstrap and jQuery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!-- Angular Timeline -->
    <script src="javascripts/lib/angular-timeline.js"></script>
    <link rel="stylesheet" href="stylesheets/lib/angular-timeline.css">
    <link rel="stylesheet" href="stylesheets/lib/angular-timeline-bootstrap.css">
    <link rel="stylesheet" href="stylesheets/lib/angular-timeline-animations.css">

    <!-- Markdown plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script>

    <!-- VisJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.js"></script>
    <script src="javascripts/lib/angular-vis.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.css">

    <!-- NgDraggable -->
    <script src="javascripts/lib/ngDraggable.js"></script>

    <!-- Moment -->
    <script src="javascripts/lib/moment.min.js"></script>
</head>
<body ng-app="arcsplannerApp">

<div id="printarea">

</div>

<!-- Site view -->
<div id="screenarea">
    <!-- MODAL: Timeline print modal -->
    <div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="printModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Print preview</h4>
                </div>
                <div class="modal-body">
                    <div ng-controller="TimelineCtrl" id="timelineprint">
                        <div ng-repeat="event in timeline">
                            <div ng-if="timeline[$index - 1] != undefined && timeline[$index - 1].endTimeMinutes != timeline[$index].startTimeMinutes">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h4>Pauze</h4></div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading"><h4>{{event.block.title}}<span class="label label-primary" style="float:right;">{{getLabel(event)}}</span></h4></div>
                                <div class="panel-body">
                                    <h5>Voorbereiding</h5>
                                    <p ng-bind-html="event.block.preparation"></p>
                                    <h5>Omschrijving</h5>
                                    <p ng-bind-html="event.block.description"></p>
                                    <h5>Inhoud</h5>
                                    <p ng-if="event.content" ng-bind-html="event.content"></p>
                                    <p ng-if="!event.content">Niet gegeven.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                    <button type="button" class="btn btn-primary" onclick=" $('#printarea').html($('#timelineprint').html()); window.print(); $('#printarea').html('');">Printen</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- Planner -->
            <div class="col-md-12">
                <div ui-view="planner" class="cmp-planner"></div>
            </div>
        </div>
        <div class="row">
            <!-- Blocks -->
            <div class="col-md-8">
                <div ui-view="selector" class="cmp-selector"></div>
            </div>

            <!-- Timeline -->
            <div class="col-md-4">
                <div ui-view="timeline" class="cmp-timeline"></div>
            </div>
        </div>
    </div>
</div>

<!-- App controllers -->
<script src="javascripts/app.js"></script>

<script src="javascripts/services/ConverterSvc.js"></script>
<script src="javascripts/services/PlanSvc.js"></script>

<script src="javascripts/controllers/BlocksCtrl.js"></script>
<script src="javascripts/controllers/PlannerCtrl.js"></script>
<script src="javascripts/controllers/TimelineCtrl.js"></script>
</body>
</html>