body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.panel-title a,
.panel-title a:active,
.panel-title a:visited {
  text-decoration: none;
}
