@media print {
    @page {
        size: A4;
    }

    #screenarea * {
        visibility: hidden;
        height:0px;
    }
    #printarea * {
        visibility: visible;
    }

    body * {
        font-size: 9pt;
    }

    .panel {
        page-break-inside: avoid;
    }
}