body {
    padding: 25px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.selector .panel-heading {
    height: 4.8em;
    overflow: hidden;
}

.selector .blockactive .panel-body {
    height: auto;
    min-height: 300px;
    background-color: #F9F9F9;
}

.selector .block .panel-body {
    overflow-y: hidden;
    height: 200px;
}