/**
 * COLORS
 * Attention: Red
 * Relevance: Blue
 * Confidence Green
 * Satisfaction Yellow
 *
 * COLORS FOR PANEL HEADERS, Based on material design
 * Alleen: #F0F4C3 (Lime, 100)
 * Duo's: #B2DFDB (Teal, 100)
 * Groepjes: #FFCCBC (Deep Orange, 100)
 * Klassikaal: #FFE0B2 (Orange, 100)
 */
@media screen {
    #printarea * {
        visibility: hidden;
        height: 0px;
        width: 0px;
        padding: 0px;
        margin: 0px;
    }
}

body {
    padding: 25px;
    padding-top: 70px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 170px;
    }
}

a {
    color: #00B7FF;
}
/**
 * Configuration of the blocks in the selector.
 */
.cmp-selector .panel {
    cursor: pointer;
}

.cmp-selector .panel-grouping-single .panel-heading {
    background-color: #CDDC39;
}
.cmp-selector .panel-grouping-duo .panel-heading {
    background-color: #009688;
}
.cmp-selector .panel-grouping-group .panel-heading {
    background-color: #FF5722;
}
.cmp-selector .panel-grouping-class .panel-heading {
    background-color: #FF9800;
}

.cmp-selector .panel-heading {
    height: 4.8em;
    overflow: hidden;
}

.cmp-selector .blockactive .panel-body {
    height: auto;
    min-height: 300px;
    background-color: #F9F9F9;
}

.cmp-selector .block .panel-body {
    overflow-y: hidden;
    height: 200px;
}

.cmp-selector .panel-overlay {
    position: absolute;
    background-image: url("../images/overlay_plus.png");
    background-size: cover;
    right: 0px;
    z-index: 10;
    height: 1.8em;
    width: 1.8em;
}

.cmp-selector .panel-overlay:hover {
    display: block;
}

.cmp-planner .vis-item {
    font-size: 9px;
    animation: blinker 0.5s linear 2;
}

.cmp-planner .vis-item.grouping-single {
    background-color: #CDDC39;
    border-color: #F0F4C3;
}
.cmp-planner .vis-item.grouping-duo {
    background-color: #009688;
    border-color: #B2DFDB;
}
.cmp-planner .vis-item.grouping-group {
    background-color: #FF5722;
    border-color: #FFCCBC;
}
.cmp-planner .vis-item.grouping-class {
    background-color: #FF9800;
    border-color: #FFE0B2;
}

/**
 * Configuration for blocks in the timeline
 */

.cmp-timeline {
    font-size: 80%;
}

.cmp-timeline .grouping-single {
    background-color: #CDDC39;
}
.cmp-timeline .grouping-duo {
    background-color: #8BC34A;
}
.cmp-timeline .grouping-group {
    background-color: #FF5722;
}
.cmp-timeline .grouping-class {
    background-color: #FF9800;
}

/**
 * Animations
 */
@keyframes blinker {
    50% { opacity: 0.7; }
}